.LaptopContainer {
  height: 50vh;
  width: fit-content;

  position: relative;
}
.LapInner {
  position: absolute;
  overflow: visible;
  top: 13.3%;
  left: 15.5%;

  height: 73%;
  width: 69%;
}

img {
  height: 100%;
}

.LapInnerImage {
  width: 100%;
  height: 100%;

  /* object-fit: cover; */
}
